<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zyfz.dao.HelpContractMapper" >
  <resultMap id="BaseResultMap" type="com.zyfz.domain.HelpContract" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="hh_user_id" property="hhUserId" jdbcType="INTEGER" />
    <result column="hh_help_info_id" property="hhHelpInfoId" jdbcType="INTEGER" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, status, hh_user_id, hh_help_info_id
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from hh_help_contract
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from hh_help_contract
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.zyfz.domain.HelpContract" >
    insert into hh_help_contract (id, status, hh_user_id, 
      hh_help_info_id)
    values (#{id,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{hhUserId,jdbcType=INTEGER}, 
      #{hhHelpInfoId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zyfz.domain.HelpContract" >
    insert into hh_help_contract
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="hhUserId != null" >
        hh_user_id,
      </if>
      <if test="hhHelpInfoId != null" >
        hh_help_info_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="hhUserId != null" >
        #{hhUserId,jdbcType=INTEGER},
      </if>
      <if test="hhHelpInfoId != null" >
        #{hhHelpInfoId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.zyfz.domain.HelpContract" >
    update hh_help_contract
    <set >
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="hhUserId != null" >
        hh_user_id = #{hhUserId,jdbcType=INTEGER},
      </if>
      <if test="hhHelpInfoId != null" >
        hh_help_info_id = #{hhHelpInfoId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zyfz.domain.HelpContract" >
    update hh_help_contract
    set status = #{status,jdbcType=INTEGER},
      hh_user_id = #{hhUserId,jdbcType=INTEGER},
      hh_help_info_id = #{hhHelpInfoId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>