<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zyfz.dao.MessageMapper" >
  <resultMap id="BaseResultMap" type="com.zyfz.domain.Message" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="message" property="message" jdbcType="VARCHAR" />
    <result column="callback_regid" property="callbackRegid" jdbcType="VARCHAR" />
    <result column="callback_alias" property="callbackAlias" jdbcType="VARCHAR" />
    <result column="callback_topic" property="callbackTopic" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, type, title, message, callback_regid, callback_alias, callback_topic
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from hh_message
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from hh_message
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.zyfz.domain.Message" >
    insert into hh_message (id, type, title, 
      message, callback_regid, callback_alias, 
      callback_topic)
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{message,jdbcType=VARCHAR}, #{callbackRegid,jdbcType=VARCHAR}, #{callbackAlias,jdbcType=VARCHAR}, 
      #{callbackTopic,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zyfz.domain.Message" >
    insert into hh_message
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="message != null" >
        message,
      </if>
      <if test="callbackRegid != null" >
        callback_regid,
      </if>
      <if test="callbackAlias != null" >
        callback_alias,
      </if>
      <if test="callbackTopic != null" >
        callback_topic,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="message != null" >
        #{message,jdbcType=VARCHAR},
      </if>
      <if test="callbackRegid != null" >
        #{callbackRegid,jdbcType=VARCHAR},
      </if>
      <if test="callbackAlias != null" >
        #{callbackAlias,jdbcType=VARCHAR},
      </if>
      <if test="callbackTopic != null" >
        #{callbackTopic,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.zyfz.domain.Message" >
    update hh_message
    <set >
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="message != null" >
        message = #{message,jdbcType=VARCHAR},
      </if>
      <if test="callbackRegid != null" >
        callback_regid = #{callbackRegid,jdbcType=VARCHAR},
      </if>
      <if test="callbackAlias != null" >
        callback_alias = #{callbackAlias,jdbcType=VARCHAR},
      </if>
      <if test="callbackTopic != null" >
        callback_topic = #{callbackTopic,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zyfz.domain.Message" >
    update hh_message
    set type = #{type,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      message = #{message,jdbcType=VARCHAR},
      callback_regid = #{callbackRegid,jdbcType=VARCHAR},
      callback_alias = #{callbackAlias,jdbcType=VARCHAR},
      callback_topic = #{callbackTopic,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>