<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zyfz.dao.MySessionMapper" >
  <resultMap id="BaseResultMap" type="com.zyfz.domain.MySession" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="cookie" property="cookie" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR"/>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.zyfz.domain.MySession" extends="BaseResultMap" >
    <result column="session" property="session" jdbcType="LONGVARBINARY" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, cookie
  </sql>
  <sql id="Blob_Column_List" >
    session
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from hh_session
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectByCookie" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from hh_session
    where cookie = #{sessionId,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from hh_session
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="com.zyfz.domain.MySession" >
    insert into hh_session (id, cookie, session,create_time
      )
    values (#{id,jdbcType=BIGINT}, #{cookie,jdbcType=VARCHAR}, #{session,jdbcType=LONGVARBINARY}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zyfz.domain.MySession" >
    insert into hh_session
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cookie != null" >
        cookie,
      </if>
      <if test="createTime">
        create_time,
      </if>
      <if test="session != null" >
        session,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="cookie != null" >
        #{cookie,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="session != null" >
        #{session,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zyfz.domain.MySession" >
    update hh_session
    <set >
      <if test="cookie != null" >
        cookie = #{cookie,jdbcType=VARCHAR},
      </if>
      <if test="session != null" >
        session = #{session,jdbcType=LONGVARBINARY},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zyfz.domain.MySession" >
    update hh_session
    set cookie = #{cookie,jdbcType=VARCHAR},
      session = #{session,jdbcType=LONGVARBINARY}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zyfz.domain.MySession" >
    update hh_session
    set cookie = #{cookie,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>