<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zyfz.dao.PushMapper" >
  <resultMap id="BaseResultMap" type="com.zyfz.domain.Push" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="hh_user_id" property="hhUserId" jdbcType="INTEGER" />
    <result column="country" property="country" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="street" property="street" jdbcType="VARCHAR" />
    <result column="alias" property="alias" jdbcType="VARCHAR" />
    <result column="regId" property="regid" jdbcType="VARCHAR" />
    <result column="topic" property="topic" jdbcType="VARCHAR" />
  </resultMap>


  <sql id="Base_Column_List" >
    id, hh_user_id, country, province, city, area, street, alias, regId, topic
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from hh_push
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from hh_push
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.zyfz.domain.Push" >
    insert into hh_push (id, hh_user_id, country, 
      province, city, area, 
      street, alias, regId, 
      topic)
    values (#{id,jdbcType=INTEGER}, #{hhUserId,jdbcType=INTEGER}, #{country,jdbcType=VARCHAR}, 
      #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR}, 
      #{street,jdbcType=VARCHAR}, #{alias,jdbcType=VARCHAR}, #{regid,jdbcType=VARCHAR}, 
      #{topic,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zyfz.domain.Push" >
    insert into hh_push
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="hhUserId != null" >
        hh_user_id,
      </if>
      <if test="country != null" >
        country,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="street != null" >
        street,
      </if>
      <if test="alias != null" >
        alias,
      </if>
      <if test="regid != null" >
        regId,
      </if>
      <if test="topic != null" >
        topic,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="hhUserId != null" >
        #{hhUserId,jdbcType=INTEGER},
      </if>
      <if test="country != null" >
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="street != null" >
        #{street,jdbcType=VARCHAR},
      </if>
      <if test="alias != null" >
        #{alias,jdbcType=VARCHAR},
      </if>
      <if test="regid != null" >
        #{regid,jdbcType=VARCHAR},
      </if>
      <if test="topic != null" >
        #{topic,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.zyfz.domain.Push" >
    update hh_push
    <set >
      <if test="hhUserId != null" >
        hh_user_id = #{hhUserId,jdbcType=INTEGER},
      </if>
      <if test="country != null" >
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="street != null" >
        street = #{street,jdbcType=VARCHAR},
      </if>
      <if test="alias != null" >
        alias = #{alias,jdbcType=VARCHAR},
      </if>
      <if test="regid != null" >
        regId = #{regid,jdbcType=VARCHAR},
      </if>
      <if test="topic != null" >
        topic = #{topic,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zyfz.domain.Push" >
    update hh_push
    set hh_user_id = #{hhUserId,jdbcType=INTEGER},
      country = #{country,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR},
      street = #{street,jdbcType=VARCHAR},
      alias = #{alias,jdbcType=VARCHAR},
      regId = #{regid,jdbcType=VARCHAR},
      topic = #{topic,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>