<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyfz.dao.ServerContractMapper">
  <resultMap id="BaseResultMap" type="com.zyfz.domain.ServerContract">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="hh_server_info_id" jdbcType="INTEGER" property="hhServerInfoId" />
    <result column="hh_user_id" jdbcType="INTEGER" property="hhUserId" />
    <result column="money" jdbcType="DOUBLE" property="money" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="detail" jdbcType="VARCHAR" property="detail" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>

  <resultMap id="ContractResultMap" type="ServerContract" extends="BaseResultMap">
    <association property="user" javaType="User">
      <id column="userid" property="id" jdbcType="INTEGER" />
      <result column="username" property="username" jdbcType="VARCHAR" />
      <result column="u_phone" property="phone" jdbcType="VARCHAR" />
      <result column="nickname" property="nickname" jdbcType="VARCHAR" />
      <result column="real_name" property="realName" jdbcType="VARCHAR" />
      <result column="email" property="email" jdbcType="VARCHAR" />
      <result column="honer_score" property="honerScore" jdbcType="DOUBLE" />
      <result column="grade_total" property="gradeTotal" jdbcType="VARCHAR" />
      <result column="grade_times" property="gradeTimes" jdbcType="INTEGER" />
      <result column="photo" property="photo" jdbcType="VARCHAR" />
    </association>
  </resultMap>

  <sql id="Base_Column_List">
    id, status, hh_server_info_id, hh_user_id, money, content, detail, create_time
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hh_server_contract
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByUserAndServer" parameterType="com.zyfz.domain.ServerContract" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from hh_server_contract
    where hh_user_id = #{hhUserId,jdbcType=INTEGER} and hh_server_info_id = #{hhServerInfoId,jdbcType=INTEGER}
  </select>

  <select id="selectByServerId" parameterType="java.lang.Integer" resultMap="ContractResultMap">
    SELECT sc.*,u.id as userid, u.phone as u_phone,u.username,u.real_name,u.nickname,u.email,u.honer_score,u.grade_total,u.grade_times,u.photo
    FROM happy_help.hh_server_contract sc left join happy_help.hh_user u on sc.hh_user_id = u.id
    where sc.hh_server_info_id = #{serverId,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from hh_server_contract
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.zyfz.domain.ServerContract">
    insert into hh_server_contract (id, status, hh_server_info_id, 
      hh_user_id, money, content, 
      detail, create_time)
    values (#{id,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{hhServerInfoId,jdbcType=INTEGER}, 
      #{hhUserId,jdbcType=INTEGER}, #{money,jdbcType=DOUBLE}, #{content,jdbcType=VARCHAR}, 
      #{detail,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zyfz.domain.ServerContract">
    insert into hh_server_contract
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="hhServerInfoId != null">
        hh_server_info_id,
      </if>
      <if test="hhUserId != null">
        hh_user_id,
      </if>
      <if test="money != null">
        money,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="detail != null">
        detail,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="hhServerInfoId != null">
        #{hhServerInfoId,jdbcType=INTEGER},
      </if>
      <if test="hhUserId != null">
        #{hhUserId,jdbcType=INTEGER},
      </if>
      <if test="money != null">
        #{money,jdbcType=DOUBLE},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="detail != null">
        #{detail,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.zyfz.domain.ServerContract">
    update hh_server_contract
    <set>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="hhServerInfoId != null">
        hh_server_info_id = #{hhServerInfoId,jdbcType=INTEGER},
      </if>
      <if test="hhUserId != null">
        hh_user_id = #{hhUserId,jdbcType=INTEGER},
      </if>
      <if test="money != null">
        money = #{money,jdbcType=DOUBLE},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="detail != null">
        detail = #{detail,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zyfz.domain.ServerContract">
    update hh_server_contract
    set status = #{status,jdbcType=INTEGER},
      hh_server_info_id = #{hhServerInfoId,jdbcType=INTEGER},
      hh_user_id = #{hhUserId,jdbcType=INTEGER},
      money = #{money,jdbcType=DOUBLE},
      content = #{content,jdbcType=VARCHAR},
      detail = #{detail,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>