<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zyfz.dao.SystemMessageMapper" >
  <resultMap id="BaseResultMap" type="com.zyfz.domain.SystemMessage" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="hhUserId" property="hhuserid" jdbcType="INTEGER" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="pageMessage" property="pagemessage" jdbcType="VARCHAR" />
    <result column="is_read" property="isRead" jdbcType="BIT" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, type, hhUserId, createTime, title, content, pageMessage,is_read
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from hh_system_message
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByUserId" resultMap="BaseResultMap" parameterType="com.zyfz.domain.SystemMessage" >
    select
    <include refid="Base_Column_List" />
    from hh_system_message
    where hhUserId = #{hhuserid,jdbcType=INTEGER}
    <if test="isRead != null" >
      and is_read = #{isRead,jdbcType=BIT}
    </if>
    order by createTime DESC
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from hh_system_message
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.zyfz.domain.SystemMessage" >
    insert into hh_system_message (id, type, hhUserId, 
      createTime, title, content, 
      pageMessage,is_read)
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, #{hhuserid,jdbcType=INTEGER}, 
      #{createtime,jdbcType=TIMESTAMP}, #{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR},
      #{pagemessage,jdbcType=VARCHAR}, #{isRead,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.zyfz.domain.SystemMessage" >
    insert into hh_system_message
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="hhuserid != null" >
        hhUserId,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="pagemessage != null" >
        pageMessage,
      </if>
      <if test="isRead != null" >
        is_read,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="hhuserid != null" >
        #{hhuserid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="pagemessage != null" >
        #{pagemessage,jdbcType=VARCHAR},
      </if>
      <if test="isRead != null" >
        #{isRead,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zyfz.domain.SystemMessage" >
    update hh_system_message
    <set >
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="hhuserid != null" >
        hhUserId = #{hhuserid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="pagemessage != null" >
        pageMessage = #{pagemessage,jdbcType=VARCHAR},
      </if>
      <if test="isRead != null" >
        is_read = #{isRead,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zyfz.domain.SystemMessage" >
    update hh_system_message
    set type = #{type,jdbcType=VARCHAR},
      hhUserId = #{hhuserid,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      pageMessage = #{pagemessage,jdbcType=VARCHAR},
      is_read = #{isRead,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>